<div id="contant">
  <div class="contant_1">
    <div class="contant_1_left">
      <h2>
        LUKUDIPLOMI
        <span>2020 Book List</span>
      </h2>
      <img src="c1_i1.png" width="477" height="466" alt="" />
    </div>

    <br class="clear" />
  </div>
</div>
