<div id="branding">
  <h1 class="logo">
    <a href="#" title="&lt; Book Manage System /&gt;">&lt; Guest Book /&gt;</a>
  </h1>
  <ul class="topNav">
    <li><a href="#" class="topNavAct">HOMEPAGE</a></li>
    <li><a href="/api/getall">BOOKLIST</a></li>
    <li><a href="/api/add">ADD BOOK</a></li>
  </ul>
  <br class="clear" />
</div>
